.footer {
    /* min-height: 50px; */
    background: #E5E5E5;
    /* position: relative;
    bottom: 0;
    left: 0;
    right: 0; */
  }
  
  .footers span {
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    background: #B8B8B8;
    text-align: center;
  }
  